{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <div class="l-side-margins">
        <article id="article" class="content content--footballfixtures" itemprop="mainContentOfPage" role="main">
            <div class="content__main">
                <div class="gs-container">
                    <div class="test">
                        <ul>
                            <li class="test-inner"><h2>Teams</h2></li>
                            <li class="test-inner"><h2>Upcoming Events</h2></li>
                            <li class="test-inner"><h2>Past Events</h2></li>


                            <li class="test-inner"><a href="{% url 'teams view' 'bl1' %}">Bundesliga 1 Teams</a></li>
                            <li class="test-inner"><a href="{% url 'upcoming view' 'bl1' %}">Bundesliga 1 Upcoming
                                Events</a></li>
                            <li class="test-inner"><a href="{% url 'past view' 'bl1' %}">Bundesliga 1 Past Events</a>
                            </li>

                            <li class="test-inner"><a href="{% url 'teams view' 'bl2' %}">Bundesliga 2 Teams</a></li>
                            <li class="test-inner"><a href="{% url 'upcoming view' 'bl2' %}">Bundesliga 2 Upcoming
                                Events</a></li>
                            <li class="test-inner"><a href="{% url 'past view' 'bl2' %}">Bundesliga 2 Past Events</a>
                            </li>

                            <li class="test-inner"><a href="{% url 'teams view' 'bl3' %}">Bundesliga 3 Teams</a></li>
                            <li class="test-inner"><a href="{% url 'upcoming view' 'bl3' %}">Bundesliga 3 Upcoming
                                Events</a></li>
                            <li class="test-inner"><a href="{% url 'past view' 'bl3' %}">Bundesliga 3 Past Events</a>
                            </li>
                        </ul>
                    </div>

                </div>

            </div>


        </article>
    </div>
{% endblock %}
