{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    <div class="l-side-margins">
        <article id="article" class="content content--footballfixtures" itemprop="mainContentOfPage" role="main">
            <div class="content__main">
                <div class="gs-container">
                    <div class="content__main-column">
                        <div class="football-leagues football-leagues--list modern-hidden">
                            <ul class="football-leagues-list u-unstyled">

                                <li class="football-leagues__item"><a href="{% url 'teams view' 'bl1' %}"
                                                                      data-link-name="view Premier League matches">Bundesliga
                                    1 Teams</a></li>
                                <li class="football-leagues__item"><a href="{% url 'teams view' 'bl2' %}"
                                                                      data-link-name="view Premier League matches">Bundesliga
                                    2 Teams</a></li>
                                <li class="football-leagues__item"><a href="{% url 'teams view' 'bl3' %}"
                                                                      data-link-name="view Premier League matches">Bundesliga
                                    3 Teams</a></li>
                                <li class="football-leagues__item"><a href="{% url 'upcoming view' 'bl1' %}"
                                                                      data-link-name="view Premier League matches">Bundesliga
                                    1 Upcoming Events</a></li>
                                <li class="football-leagues__item"><a href="{% url 'upcoming view' 'bl2' %}"
                                                                      data-link-name="view Premier League matches">Bundesliga
                                    2 Upcoming Events</a></li>
                                <li class="football-leagues__item"><a href="{% url 'upcoming view' 'bl3' %}"
                                                                      data-link-name="view Premier League matches">Bundesliga
                                    3 Upcoming Events</a></li>
                                <li class="football-leagues__item"><a href="{% url 'past view' 'bl1' %}"
                                                                     data-link-name="view Premier League matches">Bundesliga
                                1 Past Events</a></li>
                                <li class="football-leagues__item"><a href="{% url 'past view' 'bl2' %}"
                                                                      data-link-name="view Premier League matches">Bundesliga
                                    2 Past Events</a></li>
                                <li class="football-leagues__item"><a href="{% url 'past view' 'bl3' %}"
                                                                      data-link-name="view Premier League matches">Bundesliga
                                    3 Past Events</a></li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </article>
    </div>
{% endblock %}
