{% extends 'base.html' %}
{% load static %}
{% load custom_filter_tags %}

{% block page_content %}
    {% include 'submenu.html' %}
    <div class="gs-container">
        <h1>{{ slug|league }}</h1>
    </div>
    <div class="l-side-margins">
        <article id="article" class="content content--footballfixtures" itemprop="mainContentOfPage" role="main">
            <div class="content__main">
                <div class="gs-container">
                    <div class="content__main-column">


                        <div class="football-matches__container">
                            {% for data in season_past_matches %}
                                {% if data.1|length > 0 %}
                                    {% include 'matches.html' %}
                                {% endif %}
                            {% endfor %}
                            </div>


                        </div>


                    </div>

                    <div class="content__secondary-column" aria-hidden="true"></div>
                </div>
        </article>
    </div>
{% endblock %}
