{% extends 'base.html' %}
{% load static %}

{% block page_content %}
    {% include 'submenu.html' %}
    <div class="l-side-margins">
        <article id="article" class="content content--footballfixtures" itemprop="mainContentOfPage" role="main">
            <div class="content__main">
                <div class="gs-container">
                    <div class="content__main-column">


                        <div class="football-matches__container">
                            {% for date, matches in season_matches.items %}
                                {% if not matches.0.matchResults %}
                                    {% include 'matches.html' %}
                                {% endif %}
                            {% endfor %}
                            </div>


                        </div>


                    </div>

                    <div class="content__secondary-column" aria-hidden="true"></div>
                </div>
        </article>
    </div>
{% endblock %}
